**/__pycache__
**/config.py
*.swp
*.bak
apps/question_pools/extra.json
.gitignore
apps/question_pools/technician.json
apps/question_pools/general.json
.github/ect-at-WS1EC ~.txt
.github/ws1ec-bpq32.cfg
.github/ws1ec-inetd.conf
.github/ws1ec-services

# Logs
*.log

# Sample/test data
utilities/nodemap.json
utilities/nodemap.csv
utilities/nodemap_partial*.json
utilities/nodemap_partial*.csv
utilities/test_nodemap.json
.github/nodemap.json
.github/ws1ec-bpq32.cfg
apps/bulletin_board.json
.github/bpq_research.txt
.github/ws1ec-bpq32.cfg.old
.github/ect@WS1EC ~utilities.txt
