/* 
CONFIGURATION FILE FOR BPQ32: G8BPQ SWITCH SOFTWARE
Specfic parameters for Cumberland County EMA and the WSSM ECT
20190403 - N1XP - Installed
20190428 - N1XP - update pilinbpq 2019-04-28 ver=6.0.18.1
20190430 - N1XP - update bpq32.cfg
20190619 - N1XP - update Qual/minQual parameters & mapping
20190620 - N1XP - update mapping
20191016 - N1XP - changed "MAXHOPS=" from 4 to 8
20191016 - N1XP - changes "MINQUAL="  from 168 to 64
20191020 - KC1ETT - CHANGES "MINQUAL="  FROM 64 TO 25
20191023 - N1XP - changed "BTINTERVAL" from 0 to 60
20200907 - N1XP - updated pilinbpq binary to ver. 6.0.20.43 from ver 6.0.18.1
20200907 - N1XP - updated HTML directory files
20201220 - KC1JMH - Updated linbpq to 6.0.21.4
20201225 - N1XP - Changed the following parameters in the PORT 3 Stanza
    MAXFRAM=2  	  	was 1
    FRACK=8000  	was 5000
    RESPTIME=1500  	was 1000
20200111 - KC1JMH - W1YCA returns, updated IP and removed from EXCLUDE list
20210202 - N1XP - Fixed Typo in Mail forwarding for KC1ETT & completed connect script
         - Added N1XP to mapping 
20210213 - N1XP - Changed Port 3 Stanza
    TXDELAY= from 300 to 750
20210214 - N1XP - purged BPQNODES.dat cache See procedure in sysopnotes directory
20210214 - N1XP - initiated auto startup with 'systemctl enable linbpq.service' --  See Automated_Alt.txt in sysopnotes directory 
20210216 - N1XP - Port 3 QUALITY was 80 reset to 192
20210217 - N1XP - corrected Port 3 ID to 145.7300 MHz
20210219 - N1XP - Port 3: QUALITY was 192, set to 240 and MINQUAL was 25, set to 168 per WD1O recommendations
20210508 - KC1JMH - Deleted users with weak or no passwords: 
	W1AMX, KC1DFO, KC1HBM, W1MSA, N4SMT (sysop), N3TCT (sysop)
	Re-added N3TCT per Roger 5/14
20210515 - KC1JMH - Added UHF
	Pulled hardline from repeater, N-to-SO239 to 18' RG8x: SWR 1:2.42 @39.1 Ohm
	Connected Yaesu 7800R to coax, set to MID2 (10 W)
	Interfaced with DINAH: Pi > USB > soundcard > DIN > Radio
	Installed Direwolf, confirmed "hearing" KC1JMH-15
	Config file updates: Locator, text/ID messages, SSIDs changed to match other network nodes, port numbers changed, added UHF port, cleaned up extraneous comments and whitespace
20210516 - KC1JMH - Reinstalled Direwolf from GIT
	OS updated and development tools installed
	apt repository is 1.3, didn't support PTT CM108
	git repository is 1.7
	Established route to KC1JMH-15 in Westbrook
20210517 - KC1JMH - Node N1QFY-15 in Gardiner appears on UHF port, provides redundancy
20210521 - KC1JMH - Increased nodes broadcast from 20 to 60 seconds per WD1O recommendation: 
	NODESINTERVAL=60
20210608 - KC1JMH - Updated Winlink Application command to connect to the newer Telnet port number 
	Changed from 2 to 9
20210720 - KC1JMH - Updated pilinbpq to beta version 6.0.21.55 to match KC1JMH-15
20210923 - KC1JMH - 2m frequency changed to 145.050 MHz
20220214 - N1XP - Changed MAXNODES=20 TO MAXNODES=200 
20220226 - KC1JMH - Installed inetd and fortune, added FORTUNE app to test external applications
20220227 - KC1JMH - Updated CTEXT to provide user connections with some direction
                  - Updated INFO to include application menu, more info about node
                  - Updated application aliases to CCE___
                  - Added # messages waiting text, cleaned up Expert prompts to remove redundancy
20220922 - KC1JMH - Completed custom WX app
*/

LOCATOR=FN43SR
MAPCOMMENT=Cumberland County EMA<br>WS1EC 145.050 MHz
NODECALL=WS1EC-15
NODEALIAS=CCEMA
IDMSG:
CCEMA:WS1EC-15 BPQ Node

***
BTEXT:
[FN43SR] NODE WS1EC-15 AT WINDHAM, ME

***
INFOMSG:
LINBPQ32 NODE WS1EC-15 AT WINDHAM, ME FN43SR

This node is located at the Cumberland County EMA, and is maintained by the
Wireless Society of Southern Maine - Emergency Communications Team.
For info about the club visit mainehamradio.com

This node is connected to the Maine Emergency Packet Network (MEPN), which
allows traffic to flow freely between nodes on the state-wide UHF backbone.
Visit mainepacketradio.org for more info.

Ports
-----
PORT 1: UHF Backbone, inter-node only
PORT 2: 145.050 MHz at 1200 Baud

Applications
------------
Alias    Node-SSID  Application  Info
CCEBBS   WS1EC-2    BBS          Inter-node mail
CCEFORT  WS1EC-3    FORTUNE      Cheer up with a joke
CCECHAT  WS1EC-5    CHAT         Chat rooms
CCERMS   WS1EC-10   RMS          Winlink Email
CCEMA    WS1EC-15   NODE         NETROM Node
N/A      N/A        WX           Weather reports

Users should connect to 'CCEMA' instead of WS1EC-15 to be greeted with the main menu.

Sysops:
Brad Brown, KC1JMH, kc1jmh@mainehamradio.com
Tim Watson, KB1HNZ, kb1hnz@mainehamradio.com

Use "I" for more info
Use "?" for all commands 

de WS1EC>
***
CTEXT:
Welcome to the WS1EC-15 node Located in Windham, ME at the Cumberland County EMA.

Applications
---------------------------------
BBS          Inter-node mail
RMS          Winlink Email
CHAT         Chat rooms
FORTUNE      Cheer up with a joke
WX           Weather reports
---------------------------------
INFO or I    Node info
BYE or B     Disconnect

? or H in most applications will list all commands

de WS1EC>
***

FULL_CTEXT=0	; 0=send CTEXT to L2 connects to NODEALIAS only
		; 1=send CTEXT to all connectees

; Network System Parameters:
OBSINIT=6
OBSMIN=4
NODESINTERVAL=60
IDINTERVAL=10
BTINTERVAL=60
L3TIMETOLIVE=25
L4RETRIES=4
L4TIMEOUT=60
L4DELAY=10
L4WINDOW=4
MAXLINKS=100
MAXNODES=200
MAXROUTES=32
MAXCIRCUITS=100
MINQUAL=168
MAXHOPS=4
MAXRTT=90
BUFFERS=999

; TNC default parameters:
PACLEN=128				
T3=180			
IDLETIME=7200			

; Configuration Options:
AUTOSAVE=1
BBS=1				
NODE=1				
HIDENODES=1			
ENABLE_LINKED=A		

; Port Definitions:

; AX25 Direwolf PORT Definitions
PORT
 PORTNUM=1
 ID=433.300 MHz 1200 BAUD
 TYPE=ASYNC
 IPADDR=127.0.0.1
 TCPPORT=8001
 SPEED=19200	
 CHANNEL=A                             
 PERSIST=64				
 SLOTTIME=100				
 TXDELAY=300				
 TXTAIL=30
 QUALITY=240
 PACLEN=128                           
 MINQUAL=168                          
 MAXFRAME=2
 FRACK=5000
 RESPTIME=1000
 RETRIES=10
 DIGIFLAG=0
 DIGIPORT=0
 USERS=5
 VALIDCALLS=WD10,N1XP,W1YCA,K1DQ,KC1JMH,KB1HNZ
ENDPORT

; AX25 TNC-Pi HAT PORT
PORT
 PORTNUM=2
 ID=145.050 MHz @ 1200 b/s
;================================================================= 
; Using RPi and TNC-Pi communicating with Serial port.
 TYPE=ASYNC
 COMPORT=/dev/serial0 
 IOADDR=0
 PROTOCOL=KISS
 FULLDUP=0
 SPEED=19200
 CHANNEL A
;==================================================================
 PERSIST=64
 SLOTTIME=100		; CMSA interval timer in milliseconds
 TXDELAY=750		; Transmit keyup delay in milliseconds
 TXTAIL=30  	        ; TX key down, in milliseconds, at packet end
 QUALITY=240		; 2021/02/19/n1xp was 192, set to 240 on WD1O recommendation -- 2021/02/16/n1xp was 80, reset to 192 - 2019/06/23/n1xp, was 192,  2019/06/19/n1xp	2019/07/08 was 240 set to 80
 MINQUAL=25         	; A value of 0 sends everything.  2019/06/19/n1xp
 MAXFRAME=2
 FRACK=8000		; Level 2 timout in milliseconds
 RESPTIME=1500		; Level 2 delayed ack timer in milliseconds
 RETRIES=10		; Level 2 maximum retry value
 PACLEN=128		; Default max packet length for this port
 BCALL=WS1EC-4
 L3ONLY=0		; 1 = No user downlink connects on this port
 WL2KREPORT PUBLIC, server.winlink.org, 8085, WS1EC-10, FN43SR, 00-23, 145050000, PKT1200, 50, 25, 6, 0
 DIGIFLAG=0		; Digipeat: 0=OFF, 1=ALL, 255=UI Only
 DIGIPORT=0		; Port on which to send digi'd frames (0 = same port)
 USERS=5		; Maximum number of L2 sessions, 0 = no limit
ENDPORT

; AX/IP/UDP port definition.
PORT
 PORTNUM=8		; Optional but sets port number if stated
 ID=AX/IP/UDP		; Displayed by PORTS command
 DRIVER=BPQAXIP		; Uses BPQAXIP capability of bpq32.dll
 QUALITY=192		; Quality factor applied to node broadcasts heard on
			; this port, unless overridden by a locked route
			; entry. Setting to 0 stops node broadcasts
 MINQUAL=25		; Entries in the nodes table with qualities greater or
			; equal to MINQUAL will be sent on this port. A value
			; of 0 sends everything.
 MAXFRAME=2		; Max outstanding frames (1 thru 7)
 FRACK=5000		; Level 2 timout in milliseconds
 RESPTIME=1000		; Level 2 delayed ack timer in milliseconds
 RETRIES=5		; Level 2 maximum retry value
 UNPROTO=ID 
 PACLEN=236		; Max = 236
 CONFIG			; BPQAXIP.cfg has been deprecated.  Instead the AXIP
					; configuration occurs here:
 MHEARD ON      	; Opens AXIP MHEARD window
 UDP 10093		;Listens for UDP packets on this UDP port number
			; You may listen on additional port numbers if desired:
			; UDP 10094 Listens for UDP packets on this UDP port number
 ; AUTOADDMAP
 BROADCAST NODES
 BROADCAST ID
ENDPORT

PORT
 PORTNUM=9
 ID=Telnet Server
 DRIVER=Telnet
 CONFIG
 CMDPORT 63000 63010 63020 63030
 CMS=1
 CMSCALL=WS1EC
 CMSPASS=PASSWORDREDACTED
 LOGGING=1
 DisconnectOnClose=1
 TCPPORT=8010
 FBBPORT=8011 ;6300
 HTTPPORT=9123
 LOGINPROMPT=user:
 PASSWORDPROMPT=password:
 MAXSESSIONS=10
 CTEXT=Welcome to the WS1EC-15 packet node. \n\nEnter I for node info \nEnter ? for commands. \n\nde WS1EC-15>\n
 USER=KC1JMH,PASSWORDREDACTED,KC1JMH-8,"",SYSOP
ENDPORT

ROUTES:			;Locked routes (31 maximum)
; WS1EC-13,255,1	; BPQ AX/UDP on Multiple_Apps System
; WS1EC-14,240,3
; N1XP-4,255,1
; N1XP-1,255,1
; KC1ETT-4,255,1
; KC1ETT-1,255,1
; KS1R-15,0,3       	; Disables routing to KS1R
***	

; Applications
LINMAIL
BBS
LINCHAT

APPLICATION 1,BBS,,WS1EC-2,CCEBBS,255
APPLICATION 2,CHAT,,WS1EC-5,CCECHAT,255
APPLICATION 3,FORTUNE,C 9 HOST 0 NOCALL S,WS1EC-3,CCEFORT
APPLICATION 4,RMS,C 9 CMS,WS1EC-10,CCERMS,255 
APPLICATION 5,WX,C 9 HOST 1 NOCALL S
APPLICATION 5,SYSINFO,C 9 HOST 2 NOCALL S
