[Unit]
Description=BPQ Weather Alert Beacon Daemon
After=linbpq.service
Requires=linbpq.service

[Service]
Type=simple
User=ect
Group=ect
WorkingDirectory=/home/ect
ExecStart=/home/ect/utilities/wx-beacon-daemon.py -v
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
